# Environment
.venv/
env/
venv/

# PyTorch/Python specific
__pycache__/
*.pyc
*.pth 
*.pt  
*.safetensors 

# Data
data/raw/ 
data/processed/
# If you only want to ignore specific files in processed, you can be more specific:
# data/processed/*.pt
# data/processed/*.json # Use carefully if other small json files need tracking

# Output
output/checkpoints/ 
output/evaluation_results/ 
output/logs/ 

# Other temporary files (common)
*.tmp
*.swp
*~
.DS_Store # macOS specific
Thumbs.db # Windows specific

# Visual Studio Code
.vscode/

# ipynb history
.ipynb_checkpoints